<%= form_with model: lunch, local: true do |f| %>
  <div>
    <%= f.label "参加者" %>
    <% lunch.attendees.each do |attendee| %>
      <%= attendee.name %>
    <% end %>
    <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
  </div>
  <div>
    <%= f.label "予定日" %>
    <%= f.date_field :scheduled_for %>
  </div>
  <div>
    <%= f.label "場所" %>
    <%= f.text_field :place %>
  </div>
  <%= f.submit "登録" %>
<% end %>
