<div class="lunch">
  <p>日付</p>
  <p><%= @lunch.scheduled_for %></p>
  <p>メンバー</p>
  <p><%= @lunch.user.name %></p>
  <% @lunch.invitees.each do |invitee| %>
    <p><%= invitee.name %></p>
  <% end %>
  <% if @lunch.place.present? %>
    <p>場所</p>
    <p><%= @lunch.place %></p>
  <% end %>
  <% if @lunch.topic.present? %>
    <p>話したこと</p>
    <p><%= @lunch.topic.description.to_s %></p>
  <% end %>
  <div>
    <%= link_to "予定を削除", @lunch, method: :delete, data: { confirm: "後悔しませんか？" } %>
  </div>
</div>
